@model CardServiceModel

@{
    ViewData["Title"] = $"{Model.Pseudonym} Details";
}

<h2>@ViewData["Title"]</h2>

<table class="table table-bordered">
    <tbody>
    <tr>
        <th>Card Type</th>
        <td>@Model.Type</td>
    </tr>
    <tr>
        <th>Card Number</th>
        <td>@string.Join(" ",
            Enumerable.Range(0, Model.Number.Length / 4)
            .Select(i => i == (Model.Number.Length / 4 - 1)
            ?Model.Number.Substring(i * 4, 4)
            : "****"))</td>
    </tr>
    <tr>
        <th>Expiration Date</th>
        <td>@Model.ExpirationDate.ToString("MM/yyyy")</td>
    </tr>
    <tr>
        <th>Status</th>
        <td>
            @if (Model.IsActive)
            {
                <span class="badge bg-success">Active</span>
            }
            else
            {
                <span class="badge bg-danger">Inactive</span>
            }
        </td>
    </tr>

    </tbody>
</table>

<a href="@Url.Action("Edit", "Card", new { id = Model.Number })" class="btn btn-warning">Add pseudonym</a>
<a href="@Url.Action("List", "Card")" class="btn btn-secondary">Back to List</a>


